
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    /* text-align: center; */
}

/* input{
    margin: 0 10px;
    width: 180px;
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
    
} */
button{
    border-radius: 10px;
    background-color: aqua;
}
.post{
    margin: 2rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}
.loading{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: red;
}